<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Dashboard - SB Admin</title>
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
        <link rel="stylesheet" href="{% static 'CSS/styles.css' %}">
        <link rel="stylesheet" href="{% static 'CSS/10-11.css' %}">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
    </head>
    <body class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Navbar Brand-->
            <a class="navbar-brand ps-3" href="/list">내손안의 레시피</a>
            <!-- Sidebar Toggle-->
            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
            <!-- Navbar Search-->
            <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
                
            </form>
            <!-- Navbar-->
            <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#!">설정</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="{% url 'login' %}">로그아웃</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="sb-sidenav-menu-heading">사이드</div>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                레시피
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="/mainlist">레시피</a>
                                    <a class="nav-link" href="/Userlist">유저 레시피</a>
                                </nav>
                            </div>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                                <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                                나의 냉장고
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                                    <a class="nav-link collapsed" href="/save">
                                        나의 식재료
                                    </a>
                                    
                                    <a class="nav-link collapsed" href="/cook">
                                        요리하기    
                                    </a>
    
                                </nav>
                            </div>
                        </div>
                    </div>
                    <div class="sb-sidenav-footer">
                        <div class="small"></div>
                        
                    </div>
                </nav>
            </div>
            <div id="layoutSidenav_content">
                     <div class="container-fluid px-4">
                        <hr>

                        <div class="card mb-4">
                            <div class="card-header">
                                <div style="position: relative; left: -30;">
                                    <i class="fas fa-table me-1"></i>
                                나의 냉장고
                                <button style="float: right" onclick="location.href='/save2'">저장</button>
                                </div>
                                <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
                
                                </form>

                            </div>
                            <div class="card-body">
                                <style>
                                    .
                                </style>
                                <table>
                                <div class="basketdiv" id="basket">   
                                    <div class="row head">
                                        <div class="subdiv">
                                            <div class="check">선택</div>
                                            <div class="pname">품명</div>
                                        </div>
                                        <div class="subdiv">
                                            <div class="num">수량</div>
                                            <div class="basketprice">유통기한</div>
                                            <div class="sum">등록날짜</div>
                                        </div>
                                        <div class="subdiv">
                        
                                            <div class="basketcmd">삭제</div>
                                        </div>
                                        <div class="split"></div>
                                    </div>
                                    <div class="row data">
                                        <div class="subdiv">
                                            <div class="check"><input type="checkbox" name="buy" value="260" checked="" onclick="javascript:basket.checkItem();">&nbsp;</div>
                                            <div class="pname">
                                                <span>양파</span>
                                            </div>
                                        </div>
                                        <div class="subdiv">
                                            <div class="num">
                                                <div class="updown">
                                                    <span onclick="javascript:basket.changePNum(1);"><i class="fas fa-arrow-alt-circle-up up"></i></span>
                                                    <input type="text" name="p_num1" id="p_num1" size="1" maxlength="1" class="p_num" value="{{List.volume}}" onkeyup="javascript:basket.changePNum(1);" style="font-size: 10px; line-height: 10px;">
                                                    <span onclick="javascript:basket.changePNum(1);"><i class="fas fa-arrow-alt-circle-down down"></i></span>
                                                </div>
                                            </div>
                                            <div class="basketprice"><input type="hidden" name="p_price" id="p_price1" class="p_price" value="20000">22년01월06일</div>
                                            <div class="sum">21년12월27일</div>
                                        </div>
                                        <div class="subdiv">
                                            <div class="basketcmd"><a href="javascript:void(0)" class="abutton" onclick="javascript:basket.delItem();">삭제</a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="right-align basketrowcmd">
                                        <a href="javascript:void(0)" class="abutton" onclick="javascript:basket.delCheckedItem();">선택식재삭제</a>
                                        <a href="javascript:void(0)" class="abutton" onclick="javascript:basket.delAllItem();">냉장고비우기</a>
                                    </div>

                                </table>
                                <script>
                                    let basket = {
                                        totalCount: 0, 
                                        totalPrice: 0,
                                        //체크한 장바구니 상품 비우기
                                        delCheckedItem: function(){
                                            document.querySelectorAll("input[name=buy]:checked").forEach(function (item) {
                                                item.parentElement.parentElement.parentElement.remove();
                                            });
                                            //AJAX 서버 업데이트 전송
                                        
                                            //전송 처리 결과가 성공이면
                                            this.reCalc();
                                            this.updateUI();
                                        },
                                        //장바구니 전체 비우기
                                        delAllItem: function(){
                                            document.querySelectorAll('.row.data').forEach(function (item) {
                                                item.remove();
                                              });
                                              //AJAX 서버 업데이트 전송
                                            
                                              //전송 처리 결과가 성공이면
                                              this.totalCount = 0;
                                              this.totalPrice = 0;
                                              this.reCalc();
                                              this.updateUI();
                                        },
                                        //재계산
                                        reCalc: function(){
                                            this.totalCount = 0;
                                            this.totalPrice = 0;
                                            document.querySelectorAll(".p_num").forEach(function (item) {
                                                if(item.parentElement.parentElement.parentElement.previousElementSibling.firstElementChild.firstElementChild.checked == true){
                                                    var count = parseInt(item.getAttribute('value'));
                                                    this.totalCount += count;
                                                    var price = item.parentElement.parentElement.previousElementSibling.firstElementChild.getAttribute('value');
                                                    this.totalPrice += count * price;
                                                }
                                            }, this); // forEach 2번째 파라메터로 객체를 넘겨서 this 가 객체리터럴을 가리키도록 함. - thisArg
                                        },
                                        //화면 업데이트
                                        updateUI: function () {
                                            document.querySelector('#sum_p_num').textContent = '상품갯수: ' + this.totalCount.formatNumber() + '개';
                                            document.querySelector('#sum_p_price').textContent = '합계금액: ' + this.totalPrice.formatNumber() + '원';
                                        },
                                        //개별 수량 변경
                                        changePNum: function (pos) {
                                            var item = document.querySelector('input[name=p_num'+pos+']');
                                            var p_num = parseInt(item.getAttribute('value'));
                                            var newval = event.target.classList.contains('up') ? p_num+1 : event.target.classList.contains('down') ? p_num-1 : event.target.value;
                                            
                                            if (parseInt(newval) < 1 || parseInt(newval) > 99) { return false; }
                                    
                                            item.setAttribute('value', newval);
                                            item.value = newval;
                                    
                                            var price = item.parentElement.parentElement.previousElementSibling.firstElementChild.getAttribute('value');
                                            item.parentElement.parentElement.nextElementSibling.textContent = (newval * price).formatNumber()+"원";
                                            //AJAX 업데이트 전송
                                    
                                            //전송 처리 결과가 성공이면    
                                            this.reCalc();
                                            this.updateUI();
                                        },
                                        checkItem: function () {
                                            this.reCalc();
                                            this.updateUI();
                                        },
                                        delItem: function () {
                                            event.target.parentElement.parentElement.parentElement.remove();
                                            this.reCalc();
                                            this.updateUI();
                                        }
                                    }
                                    
                                    // 숫자 3자리 콤마찍기
                                    Number.prototype.formatNumber = function(){
                                        if(this==0) return 0;
                                        let regex = /(^[+-]?\d+)(\d{3})/;
                                        let nstr = (this + '');
                                        while (regex.test(nstr)) nstr = nstr.replace(regex, '$1' + ',' + '$2');
                                        return nstr;
                                    };
                                </script>
                        
                            </div>
                        </div>
                    </div>
                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Your Website 2021</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="assets/demo/chart-area-demo.js"></script>
        <script src="assets/demo/chart-bar-demo.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
        <script src="../../static/js/scripts.js"></script>
        <script src="../../static/js/test.js"></script>
        <script src="../../static/js/datatables-simple-demo.js"></script> 
    </body>
</html>